@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #dadfe8;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
    border-radius: 1rem;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        margin: 1rem auto;
        border-radius: 1rem;
    }

}


